<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="./vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="./css/sb-admin.css" rel="stylesheet" />
</head>
<body>
	<h1>MarketList</h1>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="salerIndex">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">marketList</li>
		</ol>
	</nav>

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-9">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto">
					<li id="all" class="nav-item active"><a class="nav-link"
						href="#">全部<span class="sr-only">(current)</span></a></li>
					<li id="normal" class="nav-item"><a class="nav-link" href="#">正常</a>
					</li>
					<li id="apply" class="nav-item"><a class="nav-link" href="#">正在申请</a>
					</li>
					<li id="delete" class="nav-item"><a class="nav-link" href="#">正在注销</a>
					</li>
				</ul>
				<button class="btn btn-primary m-2 my-sm-0" id="applyMarket">申请商铺</button>
				<input class="form-control col-md-3 m-2" type="search"
					placeholder="搜索商铺..." aria-label="Search" />
				<button class="btn btn-primary m-2">搜索</button>
				<div class="nav-item dropdown pull-right">
					<a class="text-light dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> 创建时间正序 </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">创建时间倒序</a> <a
							class="dropdown-item" href="#">按类型排序</a>
					</div>
				</div>
			</div>
		</nav>
		<div id="marketlist" class="bd-example"></div>
	</div>
	<div class="modal fade" id="delModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">确认注销？</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<!--             <div class="modal-body">确认注销？</div>
 -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="confirmDel" type="button" class="btn btn-primary">注销</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="./vendor/datatables/jquery.dataTables.js"></script>
	<script src="./vendor/datatables/dataTables.bootstrap4.js"></script>
	<script src="./js/sb-admin.min.js"></script>
	<script src="./js/sb-admin-datatables.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
	<script type="text/javascript">
/*<![CDATA[*/
Date.prototype.format = function(format)
{
var o = {
"M+" : this.getMonth()+1, //month
"d+" : this.getDate(),    //day
"h+" : this.getHours(),   //hour
"m+" : this.getMinutes(), //minute
"s+" : this.getSeconds(), //second
"q+" : Math.floor((this.getMonth()+3)/3),  //quarter
"S" : this.getMilliseconds() //millisecond
}
if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
(this.getFullYear()+"").substr(4 - RegExp.$1.length));
for(var k in o)if(new RegExp("("+ k +")").test(format))
format = format.replace(RegExp.$1,
RegExp.$1.length==1 ? o[k] :
("00"+ o[k]).substr((""+ o[k]).length));
return format;
}
/*]]>*/
</script>
	<script type="text/javascript">
/*<![CDATA[*/
$().ready(function() {
var data;
var m_id;

var s_ID = "";
$.ajax({
    async: false,
    type: "GET",
    cache:false, 
    //dataType: 'json',
    url: "http://127.0.0.1:8001/Saler/getID",
    timeout: 3000,
    contentType: "application/json;utf-8",
    success: function(msg) {
    	s_ID = msg;
    },error:function(XMLHttpRequest, textStatus, errorThrown){ //请求失败时被调用的函数。3个参数：XMLHttpRequest对象、错误信息、捕获的错误对象
    	console.log(textStatus+":"+errorThrown);
    	layer.msg("请求未成功" , {anim: 6 });
    }});

	 $.ajax({
		    async: false,
		    type: "GET",
		    cache:false, 
		    dataType: 'json',
		    url: "http://127.0.0.1:8003/Saler/getMarkets",
		    data: {"s_ID":s_ID},
		    timeout: 3000,
		    contentType: "application/json;utf-8",
		    success: function(msg) {
		    	console.log(msg);
		    	data=msg;
				
		   	 var list = $("#marketlist");
		   	 var content='<div class="list-unstyled">';
		   	 for(var i=0;i<msg.length;i++){
		   	var date = (new Date(parseFloat(msg[i].m_date))).format("yyyy-MM-dd hh:mm:ss");
		   		 content+='<div class="media col-md-9 mb-1">'
		   		  	    +'<img class="m-3" src="/Saler'+msg[i].m_image+'" width=150 height=150 alt="Generic placeholder image"/>'
		   	  		    +'<div class="media-body m-3">'
		   	  		    +'<input type="hidden" value="'+msg[i].m_ID+'"/>'
		   		        +'<h3 class="mt-0 mb-1"><a name="showMarket" class="text-dark" href="marketInfo.html">'+msg[i].m_name+'</a></h3>'
		   	 	        +'<div class="row"><label>地址：'+msg[i].m_address
		   	 	        +'<br/>电话：'+msg[i].m_tele
		  			 	+'<br/>邮箱：'+msg[i].m_email
		  			 	+'<br/>创建时间：'+date
		   	    +'</label><div class="col-lg-4  pull-right text-center">';
		   	    if(msg[i].m_state=="zhuxiao"){
		   	    	content+='<label class="btn-block my-3 offset-md-10">正在注销</label>'
		   	    		+'</div></div></div></div>';
		   	    }else if(msg[i].m_state=="shenqing"){
		   	    	content+='<label class="btn-block my-3 offset-md-10">正在申请</label>'
		   	    		+'</div></div></div></div>';
		   	    }else{
		   	    	content+='<button name="modMarket" type="button" class="btn btn-primary btn-sm btn-block offset-md-10">修改</button>'
		   	 +'<button type="button" data-toggle="modal" data-target="#delModal" name="delMarket" class="btn btn-secondary btn-sm btn-block offset-md-10">注销</button>'
		   	 +'</div></div></div></div>';
		   	    }
		   	 }
		   	content+='</div>';
		    	list.html(content);
		    	
		    },
		    error:function(XMLHttpRequest, textStatus, errorThrown){ //请求失败时被调用的函数。3个参数：XMLHttpRequest对象、错误信息、捕获的错误对象
		    	console.log(textStatus+":"+errorThrown);
		    	layer.msg("请求未成功" , {anim: 6 });
		    }
		  });
	 
	 $('ul.navbar-nav > li').click(function (e) {
	      e.preventDefault(); //加上这句就可以实现当前选中的li高亮显示，但同时也阻止了href中的页面跳转行为
	      $('ul.navbar-nav > li').removeClass('active');
	      $(this).addClass('active');
	      if($(this).attr("id")=="all"){
	    	  var list = $("#marketlist");
			   	 var content='<div class="list-unstyled">';
			   	 for(var i=0;i<data.length;i++){
			   	var date = (new Date(parseFloat(data[i].m_date))).format("yyyy-MM-dd hh:mm:ss");
			   		 content+='<div class="media col-md-9 mb-1">'
			   		  	    +'<img class="m-3" src="/Saler'+data[i].m_image+'" width=150 height=150 alt="Generic placeholder image"/>'
			   	  		    +'<div class="media-body m-3">'
			   	  		+'<input type="hidden" value="'+data[i].m_ID+'"/>'
			   		        +'<h3 class="mt-0 mb-1"><a name="showMarket" class="text-dark" href="marketInfo.html">'+data[i].m_name+'</a></h3>'
			   	 	        +'<div class="row"><label>地址：'+data[i].m_address
			   	 	        +'<br/>电话：'+data[i].m_tele
			  			 	+'<br/>邮箱：'+data[i].m_email
			  			 	+'<br/>创建时间：'+date
			   	    +'</label><div class="col-lg-4  pull-right text-center">';
			   	    if(data[i].m_state=="zhuxiao"){
			   	    	content+='<label class="btn-block my-3 offset-md-10">正在注销</label>'
			   	    		+'</div></div></div></div>';
			   	    }else if(data[i].m_state=="shenqing"){
			   	    	content+='<label class="btn-block my-3 offset-md-10">正在申请</label>'
			   	    		+'</div></div></div></div>';
			   	    }else{
			   	    	content+='<button name="modMarket" type="button" class="btn btn-primary btn-sm btn-block offset-md-10">修改</button>'
			   	 +'<button type="button" data-toggle="modal" data-target="#delModal" name="delMarket" class="btn btn-secondary btn-sm btn-block offset-md-10">注销</button>'
			   	 +'</div></div></div></div>';
			   	    }
			   	 }
			   	content+='</div>';
			    	list.html(content);
	      }else if($(this).attr("id")=="normal"){
	    	  var list = $("#marketlist");
			   	 var content='<div class="list-unstyled">';
			   	 for(var i=0;i<data.length;i++){
			   		if(data[i].m_state=="zhengchang"){
			   			var date = (new Date(parseFloat(data[i].m_date))).format("yyyy-MM-dd hh:mm:ss");
			   			content+='<div class="media col-md-9 mb-1">'
			   		  	    +'<img class="m-3" src="/Saler'+data[i].m_image+'" width=150 height=150 alt="Generic placeholder image"/>'
			   	  		    +'<div class="media-body m-3">'
			   	  		+'<input type="hidden" value="'+data[i].m_ID+'"/>'
			   		        +'<h3 class="mt-0 mb-1"><a name="showMarket" class="text-dark" href="marketInfo.html">'+data[i].m_name+'</a></h3>'
			   	 	        +'<div class="row"><label>地址：'+data[i].m_address
			   	 	        +'<br/>电话：'+data[i].m_tele
			  			 	+'<br/>邮箱：'+data[i].m_email
			  			 	+'<br/>创建时间：'+date
			   	    +'</label><div class="col-lg-4  pull-right text-center">';
			   			content+='<button name="modMarket" type="button" class="btn btn-primary btn-sm btn-block offset-md-10">修改</button>'
						   	 +'<button type="button" data-toggle="modal" data-target="#delModal" name="delMarket" class="btn btn-secondary btn-sm btn-block offset-md-10">注销</button>'
						   	 +'</div></div></div></div>';
			   		}
			   	 }
			   		content+='</div>';
			    	list.html(content);
	      }
	      else if($(this).attr("id")=="apply"){
	    	  var list = $("#marketlist");
			   	 var content='<div class="list-unstyled">';
			   	 for(var i=0;i<data.length;i++){
			   		if(data[i].m_state=="shenqing"){
			   			var date = (new Date(parseFloat(data[i].m_date))).format("yyyy-MM-dd hh:mm:ss");
			   			content+='<div class="media col-md-9 mb-1">'
			   		  	    +'<img class="m-3" src="/Saler'+data[i].m_image+'" width=150 height=150 alt="Generic placeholder image"/>'
			   	  		    +'<div class="media-body m-3">'
			   	  		+'<input type="hidden" value="'+data[i].m_ID+'"/>'
			   		        +'<h3 class="mt-0 mb-1"><a name="showMarket" class="text-dark" href="marketInfo.html">'+data[i].m_name+'</a></h3>'
			   	 	        +'<div class="row"><label>地址：'+data[i].m_address
			   	 	        +'<br/>电话：'+data[i].m_tele
			  			 	+'<br/>邮箱：'+data[i].m_email
			  			 	+'<br/>创建时间：'+date
			   	    +'</label><div class="col-lg-4  pull-right text-center">';
			   			content+='<label class="btn-block my-3 offset-md-10">正在申请</label>'
			   	    		+'</div></div></div></div>';
			   		}
			   	 }
			   		content+='</div>';
			    	list.html(content);
	      }else if($(this).attr("id")=="delete"){
	    	  var list = $("#marketlist");
			   	 var content='<div class="list-unstyled">';
			   	 for(var i=0;i<data.length;i++){
				   		if(data[i].m_state=="zhuxiao"){
				   			var date = (new Date(parseFloat(data[i].m_date))).format("yyyy-MM-dd hh:mm:ss");
				   			content+='<div class="media col-md-9 mb-1">'
				   		  	    +'<img class="m-3" src="/Saler'+data[i].m_image+'" width=150 height=150 alt="Generic placeholder image"/>'
				   	  		    +'<div class="media-body m-3">'
				   	  		+'<input type="hidden" value="'+data[i].m_ID+'"/>'
				   		        +'<h3 class="mt-0 mb-1"><a name="showMarket" class="text-dark" href="marketInfo.html">'+data[i].m_name+'</a></h3>'
				   	 	        +'<div class="row"><label>地址：'+data[i].m_address
				   	 	        +'<br/>电话：'+data[i].m_tele
				  			 	+'<br/>邮箱：'+data[i].m_email
				  			 	+'<br/>创建时间：'+date
				   	    +'</label><div class="col-lg-4  pull-right text-center">';
				   			content+='<label class="btn-block my-3 offset-md-10">正在注销</label>'
				   	    		+'</div></div></div></div>';
				   		}
			   	 }
			   	content+='</div>';
		    	list.html(content);
	      }
	   });
	 
	 $("#applyMarket").click(function (e) {
		 window.location.href = "applyMarket";
	 });
	
	 $(document).on('click',"[name='showMarket']",function(e){ 
			id = $(this).parents(".media-body").find("input").val();
			console.log(id);
			$.ajax({
				async: false,
			    type: "GET",
			    cache:false, 
			    dataType: 'json',
			    url: "http://127.0.0.1:8003/Saler/setM_ID",
			    data: {"m_ID":id},
			    timeout: 3000,
			    contentType: "application/json;utf-8",
			  // contentType: "application/jsonp;utf-8",
			    success:function(data){
			window.location.href = "/Saler/modifyMarket";
			    }});
		});
	 $(document).on('click',"[name='modMarket']",function(e){ 
			id = $(this).parents(".media-body").find("input").val();
			console.log(id);
			$.ajax({
				async: false,
			    type: "GET",
			    cache:false, 
			    dataType: 'json',
			    url: "http://127.0.0.1:8003/Saler/setM_ID",
			    data: {"m_ID":id},
			    timeout: 3000,
			    contentType: "application/json;utf-8",
			  // contentType: "application/jsonp;utf-8",
			    success:function(data){
			window.location.href = "/Saler/modifyMarket";
			    }});
		});

	 var name = "";

$(document).on('click',"[name='delMarket']",function(e){ 
	name = $(this).parents(".media-body").find("a").text();
	console.log(name);
});
$(document).on('click',"#confirmDel",function(e){ 
	console.log(name);
	$.ajax({
	    type: "POST",
	    async: false,
         cache: false,
         dataType:"json",
	    url: "http://127.0.0.1:8003/Saler/deleteMarket",
	    contentType:"application/json",
	     data: name, 
	    timeout: 3000,
	  // contentType: "application/jsonp;utf-8",
	    success:function(data){
	    	layer.msg("注销成功" , {anim: 6 });
          	 setTimeout('window.location.href="marketList.html"',1000);
            //window.location.href="marketList.html";
	    },
	    error: function(){
			alert("error");
    		//请求出错处理
    				}
 }); 
});
});

/*]]>*/	    
</script>
</body>
</html>