<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="./vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="./css/sb-admin.css" rel="stylesheet" />
</head>
<body>
	<h1>MarketInfo</h1>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="salerIndex">Home</a></li>
			<li class="breadcrumb-item"><a href="marketList">marketList</a></li>
			<li class="breadcrumb-item active" aria-current="page">MarketInfo</li>
		</ol>
	</nav>
	<div class="container">
		<div class="list-unstyled">
			<div class="media border-dark">
				<div class="media-body m-3">
					<div class="col-md-9">
						<h1 id="m_name">店铺名称</h1>
						<input type="hidden" value="msg[i].m_ID" />
						<div class="mx-1">
							<div id="star">star</div>
							地址：<label id="m_address">msg[i].m_address</label><br/>
							电话：<label id="m_tele">msg[i].m_tele</label><br/>
							邮箱：<label id="m_email">msg[i].m_email</label><br/>
							类型：<label id="m_type"></label><br/>
							介绍：<label id="m_intro">msg[i].m_intro</label><br/>
							状态：<label id="m_state">msg[i].m_state</label><br/>
							创建时间：<label id="m_date">date</label>
						</div>
					</div>
				</div>
				<img id="head" data-toggle="modal" data-target="#myModal"
								class="img-responsive pull-right col-md-3 mt-3 mr-3 block" height='150' />
			</div>
		</div>
		<div class="list-unstyled">
		
		</div>
	</div>
		<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="0" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-dialog" id="large-image"></div>
		<!-- /.modal-content -->
	</div>
	<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="./vendor/datatables/jquery.dataTables.js"></script>
	<script src="./vendor/datatables/dataTables.bootstrap4.js"></script>
	<script src="./js/sb-admin.min.js"></script>
	<script src="./js/sb-admin-datatables.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
	<script type="text/javascript">
/*<![CDATA[*/
Date.prototype.format = function(format)
{
var o = {
"M+" : this.getMonth()+1, //month
"d+" : this.getDate(),    //day
"h+" : this.getHours(),   //hour
"m+" : this.getMinutes(), //minute
"s+" : this.getSeconds(), //second
"q+" : Math.floor((this.getMonth()+3)/3),  //quarter
"S" : this.getMilliseconds() //millisecond
}
if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
(this.getFullYear()+"").substr(4 - RegExp.$1.length));
for(var k in o)if(new RegExp("("+ k +")").test(format))
format = format.replace(RegExp.$1,
RegExp.$1.length==1 ? o[k] :
("00"+ o[k]).substr((""+ o[k]).length));
return format;
}
/*]]>*/
</script>
<script type="text/javascript">
/*<![CDATA[*/
	$(document).on('click',"#head",function(e){   
			  var src=$(this).attr("src");
		   var large_image = "<img src='" + src + "'/>";
		   $('#large-image').html($(large_image).animate({ height: '100%', width: '100%' }, 500));
			  //console.log(src);
		  });	
	
	 $.ajax({
		    async: false,
		    type: "GET",
		    cache:false, 
		    dataType: 'json',
		    url: "http://127.0.0.1:8003/Saler/getMarket",
		    timeout: 3000,
		    contentType: "application/json;utf-8",
		    success: function(msg) {
		    	console.log(msg);
		    	$("#m_name").text(msg.m_name);
		    	$("#head").attr("src","http://localhost:8001/Saler"+msg.m_image);
		    	$("#m_address").text(msg.m_address);
		    	$("#m_tele").text(msg.m_tele);
		    	$("#m_email").text(msg.m_email);
		    	$("#m_type").text(msg.m_type);
		    	$("#m_intro").text(msg.m_intro);
		    	$("#m_state").text(msg.m_state);
		    	$("#m_date").text( (new Date(parseFloat(msg.m_date))).format("yyyy-MM-dd hh:mm:ss"));
		    	var h = '';
		    	for(var i=0;i<5;i++){
		    		console.log(parseInt(msg.m_score/100));
		    		if(i<parseInt(msg.m_score/100))
		    			h+='★';
		    		else
		    			h+=	'☆';
		    	}
		    	$("#star").html(h);
		    	console.log(parseInt(msg.m_score/100));
		    }
		    });
	/*]]>*/
</script>
</body>
</html>