<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="./css/sb-admin.css" rel="stylesheet"/>
</head>
<body>
	<h1>This is SalerIndex Page.</h1>
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
	<div>
		<button id="getInfo">获取个人信息</button>
	</div>
	<div>
		<button id="getMarkets">获取店铺列表</button>
	</div>
	<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
	<script type="text/javascript">
		$("#getInfo").click(function() {
			window.location.href = "salerInfo";
		});
		$("#getMarkets").click(function() {
			window.location.href = "marketList";
		});
	</script>
</body>
</html>
<!--  $.ajax({
				    async: false,
				    type: "POST",
				    cache:false, 
				    dataType: 'jsonp',
				    jsonp: 'callback',
				    jsonpCallback: 'api_callback',
				    url: "http://127.0.0.1:8002/Saler/info",
				    data: {"key":"saler1"},
				    timeout: 3000,
				   // contentType: "application/jsonp;utf-8",
				    success: function(msg) {
				      console.log(msg);
				    },
				    error:function(XMLHttpRequest, textStatus, errorThrown){ //请求失败时被调用的函数。3个参数：XMLHttpRequest对象、错误信息、捕获的错误对象
				    	console.log(textStatus+":"+errorThrown);
				    	//layer.msg("请求未成功" , {anim: 6 });
				    }
				  });
		}); -->